<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" type = "text/css" href="static/styles.css"> -->
  </head>
  <body>
    <div class="inline login">
      {%if 'username' is not in session %}
      <a class="button" href="{{url_for('showLogin')}}">Login </a>
      {% else %}
      <a class="button" href="{{url_for('disconnect')}}">Logout </a>
      {% endif %}
    </div>
    <header>
      <h1 class="inline"><a href = "{{url_for('showGame')}}" style="color:black;font:48px;font-weight:bold;">GAME CATALOG</a>
      </h1>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <h2><strong>{{message}}</strong></h2>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
